<div ng-controller="fileController">
<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">파일 관리</h4>
                <p class="category">멤버 이미지파일 관리, 프로젝트 이미지파일 관리, 기타 파일을 관리합니다.</p>
                </p>
                <div class="fileUpload btn uploadbtn" name="uploadFile" ngf-select="uploadMember($file)">멤버 이미지 파일 업로드</div>
                <br>
                <div class="fileUpload btn uploadbtn" name="uploadFile" ngf-select="uploadProject($file)">프로젝트 이미지 파일 업로드</div><br>
               <div class="fileUpload btn uploadbtn" name="uploadFile" ngf-select="uploadOther($file)">기타파일 업로드</div>
               
            </div>
            <div class="content table-responsive table-full-width">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">멤버 이미지파일 목록</h4>
                    <p class="category">public/images/member 위치</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>파일 이름</th>
                            <th>용량</th>
                            <th>다운로드</th>
                            <th>삭제</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in mfiles">
                                <th>{{ file.name }}</th>
                                <th>{{ file.size }}</th>
                                <th><a target="_self" href="images/member/{{file.name}}" download><i class="fa fa-download"></i></a></th>
                                <th>
                                    <button type="button" ng-click="memberdelete(file.name)" title="삭제" class="btn btn-simple btn-list">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">프로젝트 이미지파일 목록</h4>
                    <p class="category">public/images/project 위치</h4>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>파일 이름</th>
                            <th>용량</th>
                            <th>다운로드</th>
                            <th>삭제</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in pfiles">
                                <th>{{ file.name }}</th>
                                <th>{{ file.size }}</th>
                                <th><a target="_self" href="images/project/{{file.name}}" download><i class="fa fa-download"></i></a></th>
                                <th>
                                    <button type="button" ng-click="projectdelete(file.name)" title="삭제" class="btn btn-simple btn-list">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">기타 파일 목록</h4>
                    <p class="category">public/other 위치, 과제 등 업로드</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <th>파일 이름</th>
                            <th>용량</th>
                            <th>다운로드</th>
                            <th>삭제</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="file in ofiles">
                                <th>{{ file.name }}</th>
                                <th>{{ file.size }}</th>
                                <th><a target="_self" href="other/{{file.name}}" download><i class="fa fa-download"></i></a></th>
                                <th>
                                    <button type="button" ng-click="otherdelete(file.name)" title="삭제" class="btn btn-simple btn-list">
                                        <i class="fa fa-close"></i>
                                    </button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>