<div class="content" ng-controller="historyController">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">연혁 추가 </h4>
            </div>
            <div class="content table-responsive table-full-width">
                <form ng-submit=add()>
                    &nbsp &nbsp
                    <input type="text" value="" ng-model="year" placeholder="년도" id="year"> &nbsp
                    <input type="text" value="" ng-model="month" placeholder="달" id="month"> &nbsp
                    <input type="text" value="" ng-model="content" placeholder="내용" id="content"> &nbsp
                    <input type="submit" id="submit" value="추가">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">History 목록</h4>
                        <p class="category">시간 오름차순 정렬</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                                <th>ID</th>
                                <th>년도</th>
                                <th>달</th>
                                <th>내용</th>
                                <th>수정</th>
                                <th>삭제</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="history in data">
                                    <th>{{ history.id }}</th>
                                    <th ng-hide="editingData[history.id]">{{ history.year }}</th>
                                    <th ng-show="editingData[history.id]">
                                        <input type="text" size="4" ng-model="history.year" />
                                    </th>
                                    <th ng-hide="editingData[history.id]">{{ history.month }}</th>
                                    <th ng-show="editingData[history.id]">
                                        <input type="text" size="4" ng-model="history.month" />
                                    </th>
                                    <th ng-hide="editingData[history.id]">{{ history.content }}</th>
                                    <th ng-show="editingData[history.id]">
                                        <input type="text" size="70" ng-model="history.content" />
                                    </th>
                                    <th ng-hide="editingData[history.id]">
                                        <button type="button" ng-click="modify(history)" title="수정" class="btn btn-simple btn-list"><i class="fa fa-pencil"></i>
                                        </button>
                                    </th>
                                    <th ng-show="editingData[history.id]">
                                        <button type="button" ng-click="update(history)" title="확인" class="btn  btn-simple btn-list">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </th>
                                    <th>
                                        <button type="button" ng-click="delete(history.id)" title="삭제" class="btn btn-simple btn-list">
                                            <i class="fa fa-close"></i>
                                        </button>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
