<head>
            <link href="admin/css/login.css" rel="stylesheet" />

</head>


<div class="content" ng-controller="loginController" ng-init="getChart()">


    <div class="col-md-8">

            <div class="header">
                <h4 class="title">차트 페이지 </h4>
                

                <canvas id="line" class="chart chart-line" chart-data="data"
chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick">
</canvas>


            </div>
            <div class="content table-responsive table-full-width"></div>




    </div>



    <div class="col-md-3"> 
        <div class="card">
        <div class="login-body" ng-controller="loginController" >
                    <div class="login" ng-hide="{{session}}">
                        <div class="login-screen">
                            <div class="login-app-title">
                                <h1>L O G I N</h1>
                            </div>
                            <div class="login-form">
                                <form ng-controller="loginController" ng-submit=check()>
                                    <div class="control-group">
                                        <input type="text" class="login-input" value="" ng-model="id" placeholder="아이디" id="login-name">
                                        <label class="login-field-icon fui-user" for="login-name"></label>
                                    </div>
                                    <div class="control-group">
                                        <input type="password" class="login-input" value="" ng-model="password" placeholder="비밀번호" id="login-pass">
                                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                                    </div>
                                    <div class="control-group">
                                        <input type="submit" id="submit" class="login-btn btn-primary btn-large " value="로그인">
                                    </div>
                                    <div class="control-group">
                                        <input style="text-align: center" id="submit1" class="login-btn btn-primary btn-large " onclick="setPage(1)" value="회원가입">
                                    </div>

                                    
                                </form>
                            </div>
                        </div>
                    </div>



            <div ng-show="{{session}}" ng-controller="coinController" ng-init="getCoin(); getChart();">



                        <div class="header" style="font-size: 150%;">

                            <h4 class="title">환영합니다! <b>{{session.user_id}}</b> 님. </h4>
                            <p class="category">보유 코인 정보</p>
                            </p>
                            <p><br> BITCOIN : {{ coin.bitcoin }} 개
                            
                            <br><br> RIPPLE : {{ coin.ripple }} 개
                            <br><br> NEO : {{ coin.neo }} 개  
                            <br><br> ETH : {{ coin.eth }} 개   

                            <br><br>     
                        </div>

                        <br><br>
                       <button type="button" class="button btn btn-default btn-md" style="padding: 15px 12px;" onclick="setPage(2)"><p style="height: 10px;line-height: 10px">내 지갑가기</p></button>
                        <div class="content table-responsive table-full-width"></div>




            </div>
            
        </div>
            
</div>



<style type="text/css">
    
    button{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    text-align: center;
    display: inline-flex;
  align-items: flex-end;
}

</style>


