<head>
    <link href="admin/css/login.css" rel="stylesheet" />
</head>
<div class="login-body" ng-controller="regiController">
    <div class="login">
        <div class="login-screen">
            <div class="login-app-title">
                <h1>회원 가입</h1>
            </div>
            <div class="login-form">
                <form>
                    <div class="control-group">
                        <input type="text" class="login-input" value="" ng-model="user_id" placeholder="아이디" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <input type="password" class="login-input" value="" ng-model="password" placeholder="비밀번호" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div class="control-group">
                        <input type="text" class="login-input" value="" ng-model="email" placeholder="E-Mail" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>
                    <div class="control-group">
                        <input type="submit" id="submit" class="login-btn btn-primary btn-large" ng-click="register()" value="회원가입">
                    </div>
                    <div class="control-group">
                        <input style="text-align: center" id="submit" class="login-btn btn-primary btn-large" " onclick="setPage(0)"" value="뒤로가기">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
